icon ICON "app.ico"
back BITMAP "back.bmp"
back2 BITMAP "back2.bmp"
up1 BITMAP "up1.bmp"
down1 BITMAP "down1.bmp"
up2 BITMAP "up2.bmp"
down2 BITMAP "down2.bmp"
min1 BITMAP "min1.bmp"
close1 BITMAP "close1.bmp"
min2 BITMAP "min2.bmp"
close2 BITMAP "close2.bmp"
info1 BITMAP "info1.bmp"
info2 BITMAP "info2.bmp"
music 10 "app.xm"
900 10 "app.nfo"
